.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
    justify-content: flex-end;
 
}

.item {
    background-color: cadetblue;
    width: 200px;
    height: 200px;
}
/* @media only screen and (max-width: 640px) {
    nav ul li {
        display: block;
    }
} */

